/* Sizing and spaces */
$fontSizeRoot: 15px;
$gutterSize: 12px;
$playButtonHeight: 1.6rem;
$space: $gutterSize * .75;

/* Font */
// $fontFamily: 'Syne Mono', monospace;
$fontFamily: 'Averia Sans Libre', cursive;
// $fontFamily: 'Goldman', cursive;
$fontFamilyTitle: 'Goldman', cursive;

/* Colors */
$baseHue: 201;
$mainColor: hsl($baseHue, 100%, 50%);
$mainBackgroundColor: hsl($baseHue, 55%, 85%);
$cta1Color: hsl($baseHue, 65%, 75%);
$cta2Color: hsl($baseHue, 65%, 80%);
$modalOverlayColor: hsla($baseHue, 25%, 34%, .75);

// neutral:
$almostWhite: hsl(0, 0%, 79%);
$almostWhiteSoft: hsla(0, 0%, 79%, .4);
$lightestGrey: hsl(0, 0%, 73%);
$lightestGreySoft: hsla(0, 0%, 73%, .4);
$lighterGrey: hsl(0, 0%, 60%);
$lighterGreySoft: hsla(0, 0%, 60%, .4);
$lightGrey: hsl(0, 0%, 50%);
$lightGreySoft: hsla(0, 0%, 50%, .4);

$mediumGrey: hsl($baseHue, 8%, 40%);
$mediumGreySoft: hsla($baseHue, 8%, 40%, .4);

$darkGrey: hsl($baseHue, 8%, 30%);
$darkGreySoft: hsla($baseHue, 8%, 30%, .4);
$darkerGrey: hsl($baseHue, 8%, 20%);
$darkerGreySoft: hsla($baseHue, 8%, 20%, .4);
$darkestGrey: hsl($baseHue, 8%, 10%);
$darkestGreySoft: hsla($baseHue, 8%, 10%, .4);
$blackSoft: hsla($baseHue, 8%, 5%, .4);
$black: hsla($baseHue, 8%, 10%);

// errors and warnings:
$errorColor: #c10000;
$warningSoft: hsl(0, 90%, 38%);
$errorColorBg: hsl(0, 30%, 70%);

// Elements:
$btnBorderRadius: 4px;

$sliderThumbColor: #ffffff;
$sliderTrackColor: #3071a9;
$sliderTrackFocusColor: #367ebd;
$btnColor: $almostWhite;

$markerColor: $sliderTrackColor;

$pianoRollDarkBg: hsl($baseHue, 32%, 70%);
$pianoRollLightBg: hsl($baseHue, 32%, 82%);

$mixerMasterColor: #52e4ac;
$mixerTrackColor: #74c0ff;
$redInactive: #e45252;

// Misc:
$littleShadow: 0px 0px 2px $darkestGreySoft;
$baseShadow: 1px 1px 3px $darkestGreySoft, 0px 0px 1px $blackSoft;
$higherShadow: 2px 2px 4px $darkestGreySoft, 1px 1px 2px $darkestGreySoft;