@import './variables';

/* FONTS */
// titles:
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap'); // font-family: 'Goldman', cursive;
// @import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');  // font-family: 'Coda', cursive;
// @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap'); // font-family: 'ZCOOL QingKe HuangYou', cursive;
// global:
// @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap'); // font-family: 'Syne Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap'); // font-family: 'Averia Sans Libre', cursive;
// @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap'); // font-family: 'Share Tech Mono', monospace;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.material-icons {
  color: $black;
}

:root {
  font-size: $fontSizeRoot;
  font-family: $fontFamily;
  color: $black;
}

html {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
}

body {
  background-color: $mainBackgroundColor;
  margin: $space;
  user-select: none;
}

.mt-12 {
  margin-top: 12px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-gutter {
  margin-top: $gutterSize;
}
.mb-gutter {
  margin-bottom: $gutterSize;
}
.mx-gutter {
  margin-left: $gutterSize;
  margin-right: $gutterSize;
}


.inline-error {
  color: $errorColor;
  margin-left: 1rem;
}

/* Layout */

.grid {
  display: grid;
  gap: $gutterSize;
  align-items: center;

  &-2-col {
    grid-template-columns: 3.5rem 1fr;
  }
  &-3-col {
    grid-template-columns: 3.5rem 1fr 1fr;
  }
}

.settings-line + .settings-line {
  margin-top: 2px;
}

.hidden {
  display: none;
}

/* Customizing Elements */
h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: $fontFamilyTitle;
}

button {
  font-family: $fontFamily;
  // background-color: white;

  &:disabled {
    .material-icons {
      color: $mediumGreySoft;
    }
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(.compact) {
    height: $playButtonHeight;
  }

  &.icon {
    display: inline-flex;
    align-items: center;
    margin: 0;
    appearance: none;

    &.light {
      color: $blackSoft;
    }

    &.warning-soft {
      color: $warningSoft;
      .material-icons {
        color: $warningSoft;
      }
    }

    + .icon {
      margin-left: 2px;
    }

    .material-icons {
      &:only-child {
        padding-left: 4px;
        padding-right: 4px;
      }
      &:not(:first-child) {
        padding-left: 4px;
      }
    }
  }

  &.transparent {
    background-color: transparent;
    border: none;
  }

  // outlined with bg color
  &.cta {
    padding: 1px 4px;
    border: 1px solid $blackSoft;
    border-radius: $btnBorderRadius;
    box-shadow: $littleShadow;

    &.cta1 {
      background-color: $cta1Color;
    }
    &.cta2 {
      background-color: $cta2Color;
    }
  }

}

input:not([type=range], [type=checkbox]), select {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: 1px solid $lightGrey;
  font-family: $fontFamily;

  &:not(.compact) {
    // height: $playButtonHeight * .75;
    font-size: 1rem;
  }
}

.settings {
  input, select {
    min-width: 2rem;
    padding: 1px 4px;

    &[type=number] {
      width: 2.75rem;
    }

    &:not(:focus) {
      background-color: transparent;
      border-top: none;
      border-right: none;
      border-left: none;
      // width: fit-content;
      padding: 0 4px;
    }
  }

  select {
    cursor: pointer;
  }
}

