<ng-container *ngLet="updateView$ | async">
  <h4>Arranger</h4>
  <div class="selectables-container"
      *ngIf="dragItems$ | async as dragItems"
      (dragover)="dragOver($event)"
      (drop)="drop($event, null, true)">
    <ng-container
        *ngFor="let dragElement of dragItems"
        [ngTemplateOutlet]="draggable"
        [ngTemplateOutletContext]="{dragElement: dragElement}">
    </ng-container>
  </div>

  <div class="arranger-container">
    <ng-container *ngFor="let pos of positions">
      <div *ngLet="arrangement.get(pos) as seq" class="dropzone"
          [class.filled]="seq"
          (dragover)="dragOver($event)"
          (drop)="drop($event, pos)">
        <ng-container *ngIf="seq"
            [ngTemplateOutlet]="draggable"
            [ngTemplateOutletContext]="{dragElement: seq, removeAt: pos}">
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>


<ng-template #draggable
    let-dragElement="dragElement"
    let-removeAt="removeAt">
  <div class="seq-draggable" draggable="true"
      (dragstart)="dragStart($event, dragElement, removeAt)"
      (dragend)="dragEnd($event, dragElement)">
      <span class="label">{{dragElement.label}}</span>
  </div>
</ng-template>