@import '../../../variables';

@mixin draggableSize($additionalSpace: $space) {
  height: calc(1rem + #{$additionalSpace});
  width: calc(3rem + #{$additionalSpace});
}

:host {
  display: block;
  margin: 2rem 0;
}

.seq-draggable {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include draggableSize();
  background-color: $markerColor;
  color: $almostWhite;
  font-size: .8em;
  cursor: pointer;

  &:active {
    cursor: grabbing;
  }
}

.selectables-container {

  .seq-draggable {
    margin-top: $space;
    margin-bottom: $space;
    border-radius: 1em;

    + .seq-draggable {
      margin-left: $space;
    }
  }
}

.arranger-container {
  display: flex;
  padding: $space;
  overflow-x: auto;
  border: 1px groove $mediumGreySoft;
  background-color: $pianoRollLightBg;
  font-size: 1rem;
}

.dropzone {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  @include draggableSize($space);

  &:not(.filled) {
    border: 1px dashed $darkGrey;
  }
  &.filled {
    border: 1px solid $darkGrey;
  }

  + .dropzone {
    border-left: none;
  }

  .seq-draggable {
    position: absolute;
    top: 0; left: 0;
    background-color: $mainColor;
  }
}
