@import '../../../../variables';

.peak-container {
  position: relative;
  height: calc(100% - 2px);
  border: 1px solid $lightGrey;
  border-radius: 3px;
  width: 6px;
  background-color: $almostWhiteSoft;

  &.clipped {
    border-color: $errorColor;
    background-color: $errorColorBg;
  }

  .fs-marker {
    position: absolute;
    top: 0;
    left: 0;
    height: 16.66%;
    width: 100%;
    border-bottom: 1px solid $darkGrey;
  }
}

canvas {
  width: 100%;
  height: 100%;
}