<div (click)="togglePlayMode()"
      class="play-mode">
  <h5>Play mode:</h5>
  <span>&nbsp;{{playMode | firstLetterUppercase}}</span>
</div>

<button *ngLet="play$ | async as play" appBlur
    class="icon transparent btn-play" (mousedown)="this.togglePlay()">
  <span *ngIf="play" class="material-icons">stop</span>
  <span *ngIf="!play" class="material-icons">play_arrow</span>
</button>


<div class="time-info">
  <span #sequencePosition></span>
  <span #elapsedTime></span>
</div>
