@import '../../../variables';

$playBtnSize: 48px;

:host {
  position: fixed;
  left: 0;
  bottom: 0;
  height: $playBtnSize;
  width: 100%;
  border-top: 1px solid $darkestGreySoft;
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: 1fr 60px 1fr;
  background-color: $almostWhiteSoft;
}

.play-mode {
  justify-self: end;
  cursor: pointer;
  font-size: .9em;

  h5 {
    font-size: .9em;
    display: inline;
  }
}

.btn-play {
  justify-self: center;

  .material-icons {
    font-size: $playBtnSize;
  }
}

.time-info {
  justify-self: start;

  * + * {
    margin-left: .5rem;
  }
}

