{{changeDetectionRuns}}

<label class="save-ressources">
  <input type="checkbox" [(ngModel)]="saveRessources">
  Improve performance
</label>

<div *ngIf="mixerChannelStates$ | async as channelStates" class="channel-container">
  <div *ngFor="let channel of channelStates"
    class="channel-wrapper" [attr.data-channel-id]="channel[1].channelId">

    <div class="volume-and-peak-container">
      <div class="slider-container">
        <input type="range" (input)="changeTrackVolume(channel[0], $event)"
              [value]="channel[1].gain * 100" max="120" class="vertical">
      </div>

      <!-- [analyzerNode]="channel[1].analyserNode" -->

      <app-peak
        *ngIf="!saveRessources"
        [inputNode]="channel[1].inputGainNode"
        (maxPeakChange)="maxPeaks.set(channel[0], $event)"
        [resetPeak]="isNegativeInf(maxPeaks.get(channel[0]))"></app-peak>
    </div>

    <ng-container *ngLet="this.maxPeaks.get(channel[0]) as peak">
      <div class="max-peak" [class.clipped]="0 <= peak"
          (click)="resetPeak(channel[0])">
        {{(peak | number:'1.2-2') || '-∞'}}
      </div>
    </ng-container>

    <div>
      <button (mousedown)="toggleMute(channel[0], channel[1].muted)"
        class="mixer-button mixer-button-sm"
        [class.inactive]="channel[1].muted">
        m
      </button>
    </div>

    <div class="gain">{{channel[1].gain}}</div>
    <div class="name" [title]="channel[1].channelName">
      {{channel[1].channelName}}
    </div>
  </div>
</div>