@import '../../../variables';
@import '../../../styles/slider';

$volumeSliderHeight: 130px;
$volumeSliderWidth: 10px;

.save-ressources {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  input {
    margin-right: .5rem;
  }
}

.channel-container {
  margin-top: 1rem;
  display: flex;
}

.channel-wrapper {
  width: 50px;
  padding: .5rem .3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid grey;
  text-align: center;
  font-size: .9em;
  overflow: hidden;
  background-color: #eee;

  &[data-channel-id="MASTER"] {
    background-color: $mixerMasterColor;
  }
  &[data-channel-id^="track"] {
    background-color: $mixerTrackColor;
  }
  /*
  &[data-channel-id^="group"] {
    background-color: $mixerMasterColor;
  }
  &[data-channel-id^="fx"] {
    background-color: $mixerMasterColor;
  }
  &[data-channel-id^="MASTER"] {
    background-color: $mixerMasterColor;
  } */

  + .channel-wrapper {
    margin-left: $gutterSize;
  }

  > * + * {
    margin: .2rem 0;
  }

  .volume-and-peak-container {
    display: flex;
    justify-content: space-around;
    margin: 4px;
  }

  button.mixer-button {
    &.inactive {
      background-color: $redInactive;
    }
    &-sm {
      width: 1.6em;
      height: 1.6em;
      padding: 0;
      font-size: .8em;
    }
  }

  .slider-container {
    @include vertical-slider-container($volumeSliderWidth, $volumeSliderHeight);
  }

  .max-peak {
    cursor: pointer;

    &.clipped {
      color: $errorColor;
    }
  }

  .gain {
    font-size: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .name {
    font-size: .85em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(2 * .85em + 2 * .2rem);
  }
}