@import '../../../variables';

form.track-settings {
  padding: .5rem 0;

  fieldset {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1 * $space;
  }

  .settings-item {
    margin: 0 $gutterSize;
  }
}