{{changeDetectionRuns}}

<div class="mt-gutter">
  <button class="compact icon cta cta2" (click)="toggleOpen()" appBlur
      title="Add new track...">
    <span>Add new Track...</span>
    <span class="material-icons">
      {{open ? 'arrow_drop_up' : 'arrow_drop_down'}}
    </span>
  </button>
</div>

<form *ngIf="open" [formGroup]="newTrackSettingsFormGroup"
  class="track-settings settings" (submit)="addTrack()">
  <fieldset>
    <div class="grid grid-2-col settings-item">
      <label for="instrument">Instr.:</label>
      <div>
        <select [formControlName]="FieldName.INSTRUMENT" id="instrument" #instr>
          <option *ngFor="let instr of instruments" [value]="instr.value">
            {{instr.caption}}
          </option>
        </select>
      </div>
    </div>
    <div class="grid grid-2-col settings-item"
      *ngIf="Instrument.SAMPLE === getValueOf(FieldName.INSTRUMENT)">
      <label for="sample">Sample:</label>
      <div>
        <select [formControlName]="FieldName.SAMPLE" id="sample">
          <option *ngFor="let option of samples$ | async" [value]="option.value">
            {{option.caption}}
          </option>
        </select>
      </div>
    </div>
    <div class="grid grid-2-col settings-item">
      <label for="track-name">Track name:</label>
      <div>
        <input type="text" [formControlName]="FieldName.NAME"
          id="track-name">
      </div>
    </div>
    <div class="grid settings-item">
      <button type="button" (click)="addTrack()" appBlur
          class="compact icon cta cta1"
          [disabled]="newTrackSettingsFormGroup.invalid">
        <strong>Add</strong>
        <span class="material-icons">add_circle</span>
      </button>
    </div>
  </fieldset>
</form>