@import '../../../variables';

$baseKeyWidth: 4.5em;
$baseKeyHeight: 1.2em;
$whiteKeyColor: white;
$blackKeyColor: black;

.piano-roll-container {
  flex: 1;
  overflow: auto;
  background-color: $pianoRollLightBg;
  border: 1px groove $mediumGreySoft;
  font-size: 1rem;
}

.octaves-wrapper {
  position: relative;
}

.position-marker-container {
  position: absolute;
  top: 0;
  left: $baseKeyWidth;
  right: 0;
  height: 100%;
  pointer-events: none;
}

.position-marker {
  position: absolute;
  height: 100%;
  border-right: 2px solid $markerColor;
}

/* KEYS */
.key-container {
  display: flex;

  .key-sequence-wrapper {
    border-bottom: 1px solid $lighterGreySoft;
  }

  &:last-child .key-sequence-wrapper {
    border-bottom: 1px solid $lighterGrey;
  }
}

.key-wrapper {
  border-right: 1px ridge $lightGrey;
  border-bottom: 1px ridge $lightGrey;
  box-shadow: $littleShadow;
  // &.white { }
  // &.black { }
}

.key {
  width: $baseKeyWidth;
  height: $baseKeyHeight;
  cursor: pointer;
  font-size: .8em;
  line-height: $baseKeyHeight;

  &.black {
    background-color: $blackKeyColor;
    color: $lightestGrey;
  }

  &.white {
    background-color: $whiteKeyColor;
  }
}

/* SEQUENCE */
.key-sequence-wrapper {
  flex: 1;
  display: flex;
  border-bottom: 1px solid $lighterGreySoft;

  // .bar, .beat, .fract {
    // display: inline-block;
  // }

  &.black {
    background-color: $pianoRollDarkBg;
  }

  .bar {
    width: fit-content;
    height: 100%;
    display: flex;

    + .bar {
      border-left: 1px solid $lightGrey;
    }
  }

  .beat {
    width: fit-content;
    display: flex;

    + .beat {
      border-left: 1px solid $lighterGreySoft;
    }
  }

  .fract {
    width: 2rem;
    cursor: pointer;

    + .fract {
      border-left: 1px solid $lightestGreySoft;
    }

    &.active {
      background-color: $mainColor;
    }


    /* &.highlight {

    } */
  }
}



