{{changeDetectionRuns}}

<app-modal
    *ngLet="pianoRollOpen$ | async as track"
    [keepInDom]="true"
    [open]="!!track" [modalTitle]="track?.name"
    (modalClose)="onModalClose()">

  <div class="piano-roll-container" #scrollContainer>

    <div class="octaves-wrapper" *ngIf="selectedSequence$ | async">
      <div class="position-marker-container">
        <div class="position-marker hidden" #positionMarker></div>
      </div>

      <div *ngFor="let octave of octaves">
        <div *ngFor="let keyData of pianoRollKeys" class="key-container">
          <div [ngClass]="['key-wrapper', keyData.color]">
            <div [ngClass]="['key', keyData.color]"
                (mousedown)="playNote(getKey(keyData.keyName, octave))">
                <span *ngIf="showKeyName(keyData.keyName)">
                  {{keyData.caption}}{{octave}}
                </span>
            </div>
          </div>
          <div *ngLet="getKey(keyData.keyName, octave) as key"
              [ngClass]="['key-sequence-wrapper', keyData.color]">

            <div class="bar"
                *ngFor="let bar of getArrayFromN(sessionSettings.bars); index as barIdx">

              <div class="beat"
                  *ngFor="let beat of getArrayFromN(sessionSettings.measure.beats); index as beatIdx">
                {{beat}}

                <ng-container *ngFor="let fract of getArrayFromN(4); index as fractIdx">
                  <ng-container *ngLet="[barIdx + 1, beatIdx + 1, fractIdx + 1] as seqPos">
                    <div class="fract"
                      *ngIf="{isActive: isActive(seqPos, key)} as fract"
                      [class.active]="fract.isActive"
                      (mousedown)="changeNote(seqPos, key, !fract.isActive)">
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>
