<ng-container *ngIf="audioWorkletsInitialized | async; else loading">
  <!-- <ng-container *ngIf="defaultSamplesLoaded | async"> -->
  <app-session-settings></app-session-settings>
  <app-sequencer></app-sequencer>
  <app-arranger></app-arranger>
  <app-mixer></app-mixer>
  <!-- </ng-container> -->
</ng-container>

<ng-template #loading>
  <i>Loading AudioWorkletProcessors...</i>
</ng-template>
