@import '../../../variables';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $modalOverlayColor;
  z-index: 1;

  &.vis-hidden {
    visibility: hidden;
  }
}

.modal {
  min-width: 320px - $space * 2;
  max-height: calc(100% - #{$space} * 4);
  padding: $space;
  margin: $space;
  background-color: $mainBackgroundColor;
  box-shadow: $higherShadow;
  display: flex;
  flex-direction: column;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close {
    padding: 0;
    .material-icons {
      font-size: 18px;
      padding: 0;
    }
  }

  .modal-body {
    padding: $space 0 $space * .5;
    flex: 1;
    overflow: auto;
    display: flex;
  }
}