<div *ngIf="keepInDom || open"
    class="modal-overlay"
    [class.vis-hidden]="keepInDom && !open">
  <div class="modal">
    <div class="modal-header">
      <h3>{{modalTitle}}</h3>
      <button (click)="closeModal()" class="close icon transparent">
        <span class="material-icons">close</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>