{{changeDetectionRuns}}

<input #fileUpload accept="application/json" type="file" hidden
    (change)="loadSessionFile($event)">

<div class="project-header">
  <h2>Beatbox</h2>
  <div>
    <button (click)="loadSession(true)" appBlur class="icon transparent"
        title="New Session">
      <span class="material-icons">restart_alt</span>
    </button>
    <button (click)="fileUpload.click()" appBlur class="icon transparent"
        title="Load session">
      <span class="material-icons">upload</span>
    </button>
    <button (click)="downloadSession()" appBlur class="icon transparent"
        title="Download session">
      <span class="material-icons">download</span>
    </button>
    <button (click)="saveSession()" appBlur class="icon transparent"
        title="Save session in browser">
      <span class="material-icons">save</span>
    </button>
  </div>
</div>

<form [formGroup]="settingsFormGroup" class="project-info settings">
  <div class="grid grid-3-col settings-line">
    <label for="name">name</label>
    <div>
      <input type="text" formControlName="name" id="name">
    </div>
  </div>
  <div class="grid grid-3-col settings-line">
    <label for="bpm">bpm</label>
    <div>
      <input type="number" formControlName="bpm" min="20" max="300" id="bpm">
    </div>
    <span class="inline-error"
      *ngIf="settingsFormGroup.get('bpm').errors as errors">
      {{errors | json}}
    </span>
  </div>
  <div class="grid grid-3-col settings-line">
    <label for="bars">bars</label>
    <div>
      <input type="number" formControlName="bars" min="1" max="8" id="bars">
    </div>
    <span class="inline-error"
      *ngIf="settingsFormGroup.get('bars').errors as errors">
      {{errors | json}}
    </span>
  </div>
  <div class="grid grid-3-col settings-line">
    <label for="beats">measure</label>
    <div formGroupName="measure">
      <input type="number" formControlName="beats" min="1" max="16" id="beats">
      /
      <select formControlName="noteValue">
        <option>1</option>
        <option>2</option>
        <option>4</option>
        <option>8</option>
        <option>16</option>
      </select>
    </div>
    <span class="inline-error"
      *ngIf="settingsFormGroup.get('measure').get('beats').errors as errors">
      {{errors | json}}
    </span>
  </div>
</form>
