@import '../../../../styles/slider';

$sliderWidth: 5px;
$sliderHeight: 6rem;

.adsr-container {
  display: flex;
}

.adsr-slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
}

.slider-container {
  @include vertical-slider-container($sliderWidth, $sliderHeight);
}