{{changeDetectionRuns}}


<app-modal
    *ngIf="selectedSynth$ | async as synth"
    [open]="!!synth"
    [modalTitle]="synth.synthName"
    (modalClose)="onModalClose()">
  <div [formGroup]="synthSettingsFormGroup">

    <div class="grid grid-3-col settings-line">
      <label for="osc-type">wave</label>
      <select name="oscType" id="osc-type" [formControlName]="Fieldname.TYPE">
        <option *ngFor="let type of oscillatorTypes" [value]="type">{{type}}</option>
      </select>
    </div>
    <div class="adsr-container mt-gutter" formGroupName="adsr">
      <div class="adsr-slider-wrapper" *ngFor="let entry of adsr; index as idx">
        <div class="slider-container">
          <input type="range" class="vertical" [formControlName]="entry"
              min="0.01" [max]="2 === idx ? this.maxSustainGain : 100" steps="1">
        </div>
        <div>{{entry}}</div>
      </div>

    </div>
  </div>
</app-modal>
