@import '../variables';

$sliderBoxShadow: $baseShadow;
$sliderTrackWidth: 8px;
$sliderThumbHeight: 20px;
$sliderThumbWidth: 10px;
$sliderBorderRadius: 3px;

@mixin slider-track-fill($bg-color) {
  background: $bg-color;
  // box-shadow: $sliderBoxShadow;
  border: 0.2px solid #010101;
}

@mixin slider-thumb {
  border: 1px solid #000000;
  height: $sliderThumbHeight;
  width: $sliderThumbWidth;
  border-radius: $sliderBorderRadius;
  background: $sliderThumbColor;
  cursor: pointer;
  box-shadow: $sliderBoxShadow;

  transform: rotate(-180deg);
}

@mixin slider-track($is-ms: false) {
  width: 100%;
  height: $sliderTrackWidth;
  cursor: pointer;

  @if $is-ms {
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;

  } @else {
    @include slider-track-fill($sliderTrackColor);
    border-radius: $sliderBorderRadius;
  }
}

// include this in slider-container for vertical sliders
@mixin vertical-slider-container($width, $height) {
  width: $width;
  height: $height;
  position: relative;

  input[type=range] {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    width: $height;
    height: $width;
    position: absolute;
    left: 0;
    bottom: -$width;
  }
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  margin: 0;

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Thumb */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    @include slider-thumb;
  }
  &::-moz-range-thumb {
    @include slider-thumb;
  }
  &::-ms-thumb {
    @include slider-thumb;
  }

  /* Track */
  &::-webkit-slider-runnable-track {
    @include slider-track;
  }
  &::-moz-range-track {
    @include slider-track;
  }
  &::-ms-track {
    @include slider-track;
  }
  &::-ms-fill-lower, &::-ms-fill-upper {
    @include slider-track-fill($sliderTrackColor);
    border-radius: 2.6px;
  }

  &:focus {
    &::-webkit-slider-runnable-track {
      background: $sliderTrackFocusColor;
    }
    &::-ms-fill-lower, &::-ms-fill-upper {
      background: $sliderTrackFocusColor;
    }
  }
}

