{{changeDetectionRuns}}

<ng-container *ngIf="sessionSettings$ | async as sessionSettings">

  <div *ngIf="sequenceIds$ | async as seqIds" class="grid grid-3-col settings mb-gutter">
    <label for="selectSequence">Seq.</label>
    <div class="seq-add">
      <select id="selectSequence" [ngModel]="selectedSequence"
          (ngModelChange)="selectSequence($event)">
        <option *ngFor="let seqId of seqIds">
          {{seqId}}
        </option>
      </select>
      <button class="mx-gutter" (click)="addSequence()" class="icon transparent"
          title="Add sequence" appBlur>
        <span class="material-icons">add_circle_outline</span>
      </button>
    </div>
  </div>

  <div class="tracks-container">
    <div class="tracks-ctrl-container">
      <div *ngFor="let track of tracks" class="track-ctrl">
        <button class="btn-play" appBlur
            [title]="track[1].name"
            (mousedown)="playNotes(track[1], [defaultNote])">
          {{track[1].name}}
        </button>
        <button (click)="editInstrument(track[1])" appBlur class="icon cta cta1">
          <span class="material-icons">tune</span>
        </button>
      </div>
    </div>

    <div class="sequences-wrapper">
      <div class="sequences-container" *ngIf="selectedSequence$ | async as seqId">
        <div class="position-marker-container">
          <div class="position-marker hidden" #positionMarker></div>
        </div>

        <div *ngFor="let track of tracks" class="sequence">
          <ng-container *ngIf="track[1].sequences.get(seqId) as sequence; else error">
            <ng-container *ngIf="!track[1].pianoRoll">
              <div class="bar"
                  *ngFor="let bar of getArrayFromN(sessionSettings.bars); index as barIdx">

                <div class="beat"
                    *ngFor="let beat of getArrayFromN(sessionSettings.measure.beats); index as beatIdx">

                  <ng-container *ngFor="let fract of getArrayFromN(4); index as fractIdx">
                    <ng-container *ngLet="[barIdx + 1, beatIdx + 1, fractIdx + 1] as position">
                      <button class="btn-fracture" appBlur
                        *ngIf="{isActive: isActive(sequence, position)} as btn"
                        [class.active]="btn.isActive"
                        (mousedown)="toggleIsActive(track[0], position, btn.isActive)">

                      </button>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <div *ngIf="track[1].pianoRoll" class="btn-piano-roll-container">
              <button (click)="openPianoRoll(track[1])"></button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="tracks-ctrl-container">
      <div *ngFor="let track of tracks" class="track-ctrl">
        <button (click)="deleteTrack(track[0])"
            class="icon transparent warning-soft" title="delete">
          <span class="material-icons">highlight_off</span>
        </button>
      </div>
    </div>
  </div>

  <app-piano-roll
      [sessionSettings]="sessionSettings"
      (changes)="changeSequence($event)"
      (playNotes)="playNotes($event.track, $event.notes)">
  </app-piano-roll>
</ng-container>

<app-add-track></app-add-track>

<app-transport></app-transport>

<ng-container *ngIf="openInstrumentEditor$ | async as selected">
  <ng-container [ngSwitch]="selected.instrument">
    <app-synth-editor
        *ngSwitchCase="Instrument.SYNTH"
        [instrumentId]="selected.instrumentId">
    </app-synth-editor>
  </ng-container>
</ng-container>


<ng-template #loadingTracks>Loading tracks...</ng-template>
<ng-template #error>Error</ng-template>