@import '../../../variables';

$sequenceSpace: .1rem;

.seq-add {
  display: flex;
  align-items: center;

  .material-icons {
    font-size: 18px;
  }
}

.tracks-container {
  max-width: 100%;
  display: flex;
}
.sequences-wrapper {
  overflow-x: auto;
}

.tracks-ctrl-container {
  .track-ctrl {
    display: flex;
  }
  button.btn-play {
    width: 2 * $playButtonHeight;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.muted {
      background-color: red;    // still used?
    }
  }
}

button.btn-fracture {
  width: $playButtonHeight;
  cursor: pointer;

  &.active {
    background-color: darkgrey;
  }

  &.highlight {
    filter: drop-shadow(0 0 .5rem blue);    // currently unused
  }
}

.sequences-container {
  position: relative;
  width: fit-content;

  .position-marker-container {
    position: absolute;
    top: 0;
    left: 2 * $sequenceSpace;
    right: 2 * $sequenceSpace;
    bottom: 1px;
    pointer-events: none;
  }

  .position-marker {
    position: absolute;
    height: 100%;
    border-right: 2px solid $markerColor;
  }

  .sequence {
    display: flex;
    padding: 0 $sequenceSpace;

    .bar {
      width: fit-content;
      display: flex;
    }

    .beat {
      display: flex;
      padding: 0 $sequenceSpace;
    }

    .btn-piano-roll-container {
      flex: 1;
      padding: 0 $sequenceSpace;
      min-width: 120px;

      button {
        width: 100%;
      }
    }
  }
}
